<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lssys.dicerosmovil" version="0.10.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Diceros Movil</name>
    <description>
        Diceros ERP, version movil.
    </description>
    <author href="http://ls-sys.com" email="gs@ls-sy.com">ls-sys</author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-8.0.0" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="orientation" value="default" />
	<preference name="fullscreen" value="false" />
	<preference name="target-device" value="universal" />
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="true" />
	<preference name="ios-statusbarstyle" value="black-transparent" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarStyle" value="blackopaque" />
    <preference name="StatusBarBackgroundColor" value="#0267B9" />
	<preference name="BackgroundColor" value="#E4F1FB" />
	<preference name="KeyboardDisplayRequiresUserAction" value="true" />
	<preference name="KeyboardShrinksView " value="true" />
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="SuppressesIncrementalRendering" value="false" />	
	<preference name="KeyboardShrinksView" value="true" />
	<preference name="android-minSdkVersion" value="16" />
	
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="HeaderColor" value="#005AA3" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <resource-file src="google-services.json" target="app/google-services.json" />
        <allow-intent href="market:*" />
        <icon density="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />

        <resource-file src="locales/android/drawable-mdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-mdpi/ic_stat_onesignal_default.png" />
        <resource-file src="locales/android/drawable-hdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-hdpi/ic_stat_onesignal_default.png" />
        <resource-file src="locales/android/drawable-xhdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-xhdpi/ic_stat_onesignal_default.png" />
        <resource-file src="locales/android/drawable-xxhdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-xxhdpi/ic_stat_onesignal_default.png" />
        <resource-file src="locales/android/drawable-xxxhdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-xxxhdpi/ic_stat_onesignal_default.png" />
        <resource-file src="locales/android/drawable-xxxhdpi/ic_onesignal_large_icon_default.png" target="app/src/main/res/drawable-xxxhdpi/ic_onesignal_large_icon_default.png" />
    </platform>
    
    <platform name="ios">
        <!--<hook type="before_compile" src="hooks/beforeCompileCocoapodsHotfix.js" />-->
        <resource-file src="GoogleService-Info.plist" />
        <preference name="phonegap-version" value="4.4.0" />
        <preference name="pods_ios_min_version" value="8.0"/>
        <!-- add use_frameworks! to Podfile, this also disabled bridging headers -->
        <preference name="pods_use_frameworks" value="true"/>
        <!-- use the latest version of a pod -->
        <pod name="LatestPod" />

        <preference name="CameraUsesGeolocation" value="false" />
        <preference name="iosPersistentFileLocation" value="Library" />
        <preference name="permissions" value="true" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
            <string>need camera access to take pictures</string>
        </edit-config>
        <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
            <string>need photo library access to get pictures from there</string>
        </edit-config>
        <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
            <string>need location access to find things nearby</string>
        </edit-config>
        <edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
            <string>need photo library access to save pictures there</string>
        </edit-config>
        <icon height="57" platform="ios" src="www/res/icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icon/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icon/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icon/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icon/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icon/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icon/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="www/res/icon/ios/icon-small@3x.png" width="87" />
    </platform>

    <plugin name="cordova-plugin-cocoapod-support" source="npm"/>
    <plugin name="cordova-plugin-appversion" source="npm" spec="1.0.0" />
    <plugin name="cordova-plugin-camera" source="npm" spec="4.0.3" />
    <plugin name="cordova-plugin-console" source="npm" spec="1.0.7" />
    <plugin name="cordova-plugin-device" source="npm" spec="2.0.2" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="2.0.1" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="1.7.1" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="1.0.1" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="1.2.2" />
    <plugin name="cordova-plugin-headercolor" source="npm"/>
    <plugin name="onesignal-cordova-plugin" source="npm"/>
    
</widget>
