<div class="page" data-page="FormDataU">
    <div class="navbar">
        <div class="navbar-inner">
            <div class"left">
                <a href="javascript:{backToMenu();}" class="link">Atras</a>
            </div>
            <div class="center">{{PageTitle}}</div>
        </div>
    </div>
    
    <div class="page-content">
        <div class='item-input' style='display:none'>
            <input type="hidden" name="N_S_H_VO_ROW_STATUS" value="{{ROWStatusVal}}" tabindex=0>
            <input type="hidden" name="N_S_H_VO_INTERNAL_USER" value="{{USERVal}}">
            <input type="hidden" name="N_S_H_VO_PROJECT_ID" value="{{PROYVal}}">
            <input type="hidden" name="N_S_H_VO_OBJECT_ID" value="{{OBJVal}}">
        </div>
        <div class="list-block">
            <ul>
                {{#each DispObj}}
                {{this}}
                {{/each}}
            </ul>
        </div>
        <div class="speed-dial" id="ObjSpeedIU"> 
            <a href="#" class="floating-button">
                <i class="icon f7-icons">more_vertical</i>
                <i class="icon f7-icons closeRed">close</i>
            </a>
            <div class="speed-dial-buttons">
                <a href="javascript:{MotorMovil('SaveT');}" class="link"><i class="icon f7-icons">compose</i></a>
                <a href="javascript:{MotorMovil('Nuevo');}" class="link"><i class="icon f7-icons">document_text_fill</i></a>
                <a href="javascript:{MotorMovil('FReg');}" class="link"><i class="icon f7-icons">rewind</i></a>
                <a href="javascript:{MotorMovil('LReg');}" class="link"><i class="icon f7-icons">fastforward</i></a>
                <a href="javascript:{MotorMovil('Reload');}" class="link"><i class="icon f7-icons">reload</i></a>
            </div>
        </div>
    </div>
</div>