/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  /*border: 1px solid transparent;*/
  padding: 0px -40px;
  margin:2px -4px;
}
.row {
  margin-bottom: 1px;
  border-bottom: 1px solid #ddd;
}    

.statusbar-overlay {
    background: #000000;
}

.HidenParams{
	display: none;
}
/*#1a9e40*/
.navbar {
	background-color: #2196f3; /*#1a9e40;*/
	box-shadow: 0px 0px 35px #545454;
}

.toolbar {
	background-color: #2196f3; /*#1a9e40;*/
	font-family: Arial, sans-serif;
	font-size: 18px;
	box-shadow: 0px 0px 35px #545454;
}

.label2 {
	font-family: Arial, sans-serif;
	font-size:14px;
	text-indent:8px;
	margin-bottom:-8px;
	color: #787878;
}

.MargenMenu{
	background-color: #0073d1; /*#43b766;*/
	/*margin-left: 10px;*/
	padding-left: 20px;
	color: #FFFFFF;
}

.contenido{
	margin-top:80px;
}

.MenuModulos{
	background-color: #2196f3; /*#1a9e40;*/
	color: #FFFFFF;
	font-weight: bold;
	margin-top:80px;
}

.MenuModulos .accordion-item-expanded{
	box-shadow: 0px 0px 20px #545454;
}

.speed-dial-buttons a{
	/*background-color: #43b766;*/
	background-color:#FFF;
}

#ObjSpeedIU
{
  float: right;
  position: fixed;
}

.speed-dial a{
	background-color: #2196f3; /*#1a9e40;*/
}

.icon-form-new {
  background-image: url("img/newIco.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 24px 24px;
}

.icon-form-search {
  background-image: url("img/bar_search.gif");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 24px 24px;
}

.icon-form-exit {
  background-image: url("img/bar_exit.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 24px 24px;
}

.icon-form-help {
  background-image: url("img/bar_help.gif");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 24px 24px;
}


.espacioCB{
  width: 30px;
  height: 30px;
  margin-left: 0px;
  background-color: #2196f3; /*#1a9e40;*/
  border: #000000 1px solid;
  color: #FFFFFF;
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;  
  padding-top: 5px;
  padding-left: 5px;  
  font-size: 20px;
}

.closeRed{
  /*background-color: rgb(187, 42, 42);*/
  border-radius:30px;
  padding:17px 23px;
}

a.floating-button .closeRed{
  background-color: rgb(187, 42, 42);
}
